{% extends "layouts/app.html.twig" %}
{% block title %}
	Liste des Projets
{% endblock %}
{% block body %}

	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-sm-flex align-items-center justify-content-between">
				<h4 class="mb-sm-0 font-size-18">
					Liste des Projets
				</h4>
				<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item">
							<a href="javascript: void(0);">
								Projets
							</a>
						</li>
						<li class="breadcrumb-item active">
							Index
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					{% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}

						<a href="{{ path('app_projet_new') }}" class="btn btn-primary waves-effect waves-light mb-3">
							<i class="mdi mdi-plus me-2"></i>
							Ajouter un Projet
						</a>
					{% endif %}

					<table id="datatable" class="table table-bordered dt-responsive nowrap w-100">


						<thead>
							<tr>
								<th>Id</th>
								<th>Nom</th>
								<th>Client</th>
								<th>Description</th>
								<th>Budget</th>
								<th>Date_debut</th>
								<th>Date_fin</th>
								<th>Statut</th>

								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for projet in projets %}
								<tr>
									<td>{{ projet.id }}</td>
									<td>{{ projet.nom }}</td>
									<td>{{ projet.client }}</td>
									<td>{{ projet.description }}</td>
									<td>{{ projet.budget }}</td>
									<td>{{ projet.dateDebut ? projet.dateDebut|date('Y-m-d') : '' }}</td>
									<td>{{ projet.dateFin ? projet.dateFin|date('Y-m-d') : '' }}</td>
									<td>{{ projet.statut.nom ?? '' }}</td>
									<td>
										<div class="d-flex">
											<a href="{{ path('app_projet_show', {'id': projet.id}) }}" class="btn btn-primary waves-effect waves-light me-2">
												<i class="mdi mdi-eye"></i>
											</a>
											{% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}


												<a href="{{ path('app_projet_edit', {'id': projet.id}) }}" class="btn btn-warning waves-effect waves-light me-2">
													<i class="mdi mdi-pencil"></i>
												</a>
												<form method="post" action="{{ path('app_projet_delete', {'id': projet.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce projet?');" style="display: inline;">
													<input type="hidden" name="_method" value="DELETE">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.id) }}">
													<button type="submit" class="btn btn-danger waves-effect waves-light">
														<i class="mdi mdi-trash-can"></i>
													</button>
												</form>
											{% endif %}
										</div>

									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
