{% extends 'layouts/app.html.twig' %}
{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-sm-flex align-items-center justify-content-between">
				<h4 class="mb-sm-0 font-size-18">
					Aperçu :
					{{ projet.nom }}

				</h4>

				<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item">
							<a href="javascript: void(0);">Projet</a>
						</li>
						<li class="breadcrumb-item active">
							Aperçu</li>
					</ol>
				</div>

			</div>
		</div>
	</div>
	<!-- end page title -->

	<div class="row">
		<div class="col-lg-8">
			<div class="card">
				<div class="card-body">
					<div class="d-flex">
						<div class="flex-shrink-0 me-4">
							<img src="{{ asset('assets/images/saer.jpeg') }}" alt="" class="avatar-sm">
						</div>

						<div class="flex-grow-1 overflow-hidden">
							<h5 class="text-truncate font-size-15">{{ projet.nom }}</h5>
							<p class="text-muted">
								{{ projet.client }}
							</p>
						</div>
					</div>

					<h5 class="font-size-15 mt-4">
						Détails du Projet :</h5>

					<p class="text-justify">
						{{ projet.description }}
					</p>

					<div class="row task-dates">
						<div class="col-sm-4 col-6">
							<div class="mt-4">
								<h5 class="font-size-14">
									<i class="bx bx-calendar me-1 text-primary"></i>
									Date de Début</h5>
								<p class="text-muted mb-0">{{ projet.dateDebut ? projet.dateDebut|date('Y-m-d') : '' }}</p>
							</div>
						</div>
						<div class="col-sm-4 col-6">
							<div class="mt-4">
								<h5 class="font-size-14">
									<i class="bx bx-calendar-check me-1 text-primary"></i>
									Date de Fin</h5>
								<p class="text-muted mb-0">
									{{ projet.dateFin ? projet.dateFin|date('Y-m-d') : '' }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				{% for commentaire in projet.commentaires %}
					<div class="comment-list">
						<div class="p-3">
							<div class="d-flex">
								<div class="flex-grow-1">
									<blockquote class="blockquote mb-0">
										<p class="font-size-14 mb-1 text-justify">
											{{ commentaire.content }}
										</p>
										<br>
										<footer class="blockquote-footer text-muted mb-0">
											<i class="mdi mdi-clock-outline"></i>
											{{ commentaire.createdAt|date('Y-m-d H:i:s') }}
											|
											{{ commentaire.user.username }}
										</footer>
									</blockquote>
								</div>
								<div
									class="text-end">
									<!-- Nouveau div ajouté pour aligner le bouton à droite -->
									<form action="{{ path('app_projet_comment_delete', {'id': commentaire.id}) }}" method="post">
										<button type="submit" class="btn btn-danger btn-sm">
											<i class="bx bx-trash"></i>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>


		</div>

		<!-- end col -->
		<div class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<div class="flex">
						<button type="button" id="requestAIButton" class="btn btn-outline-primary" data-id="{{ projet.id }}">
							<i class="fas fa-robot">
								AI Summary
							</i>
						</button>
						<button type="button" id="copyButton" class="btn btn-outline-warning">
							<i class="fas fa-copy"></i>
						</button>
						<div id="response" class="border rounded p-3 my-3" style="display: none;"></div>
						<div id="spinner" class="spinner-border text-primary" role="status" style="display: none;">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-4">
						Rapports
						<div class="float-end">
							<a href="{{ path('app_rapport_new', {'id': projet.id}) }}" class="btn btn-primary waves-effect waves-light">

								<i class="bx bx-plus"></i>
							</a>
						</div>
					</h4>
					{% for rapport in projet.rapports %}
						<div class="d-flex mb-4">
							<div class="flex-grow-1">
								<h5 class="font-size-13 mb-1">
									{% set trimestre = (rapport.periode|date('n') + 2) / 3 %}
									Trimestre
									{{ trimestre|round(0, 'floor') }}
									|
									{{ rapport.createdAt|date('Y-m-d') }}
								</h5>
								<p class="text-muted mb-1">
									{{ rapport.user.nom }}
								</p>
							</div>
							<div class="ms-3">
								<a href="{{ path('app_rapport_show', {'id': rapport.id}) }}" class="text-primary">
									<i class="bx bx-show"></i>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-4">
						Commentaires
						<button style="float: right;" type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#myModal">
							<i class="bx bx-plus"></i>

						</button>
					</h4>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h4 class="card-title mb-4">
						Pièces Jointes
						<button style="float: right;" type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#myModalFiles">
							<i class="bx bx-plus"></i>

						</button>
					</h4>
					<div class="table-responsive">
						<table class="table table-nowrap align-middle table-hover mb-0">
							<tbody>
								{% for piece in projet.fichiers %}
									<tr>
										<td style="width: 45px;">
											<div class="avatar-sm">
												<span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
													<i class="bx bxs-file-doc"></i>
												</span>
											</div>
										</td>
										<td>
											<h5 class="font-size-14 mb-1">
												<a href="javascript:void(0);" class="text-dark">
													{{ piece.name }}
												</a>
											</h5>
											<form action="{{ path('app_projet_files_delete', {'id': piece.id}) }}" method="post">
												<button type="submit" class="btn btn-danger btn-sm">
													<i class="bx bx-trash"></i>
												</button>
											</form>
										</td>
										<td>
											<div class="text-center">
												<a href="{{ path('download_file', {'fileName': piece.name}) }}" class="text-dark" download>
													<i class="bx bx-download h3 m-0"></i>
												</a>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container-fluid -->
</div>

<div id="myModal" class="modal top" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<form action="{{ path('app_projet_comment_create', {'id': projet.id}) }}" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">Ajouter un commentaire</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<div class="mb-3">
						<textarea class="form-control" id="content" name="content" rows="3"></textarea>
					</div>
					<input type="hidden" name="projet" value="{{ projet.id }}">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary waves-effect waves-light">
						Eneregistrer
					</button>
				</div>

			</div>
		</form>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<div id="myModalFiles" class="modal fade" tabindex="-1" aria-labelledby="myModalLabelFiles" aria-hidden="true">
	<div class="modal-dialog">
		<form action="{{ path('app_projet_files_upload', {'id': projet.id}) }}" method="post" enctype="multipart/form-data">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabelFiles">
						Ajouter un fichier
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<div class="mb-3">
						<input type="file" class="form-control" id="content" name="file">

					</div>
					<input type="hidden" name="projet" value="{{ projet.id }}">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary waves-effect waves-light">
						Eneregistrer
					</button>
				</div>

			</div>
		</form>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>{% endblock %}
