{% extends 'layouts/app.html.twig' %}
{% block body %}
	<h1>Taches</h1>
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ tach.id }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ tach.description }}</td>
			</tr>

			<tr>
				<th>Priorite</th>
				<td>{{ tach.priorite }}</td>
			</tr>

			<tr>
				<th>DateDebut</th>
				<td>{{ tach.dateDebut ? tach.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>DateFin</th>
				<td>{{ tach.dateFin ? tach.dateFin|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Durée
				</th>
				<td>
					{% set dateDebut = tach.dateDebut|date('Y-m-d') %}
					{% set dateFin = tach.dateFin|date('Y-m-d') %}
					{# Calculer la différence en jours #}
					{% set difference = dateFin|date_modify('-' ~ dateDebut)|date('z') + 1 %}
					{{ difference }}

				</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{ tach.statut.nom ?? '' }}</td>
			</tr>
		</tbody>
	</table>

	<div class="mt-3">
		<a href="{{ path('app_taches_index') }}" class="btn btn-secondary me-2">
			<i class="fas fa-arrow-left"></i>

		</a>
		{% if is_granted('ROLE_ADMIN')%}
			<a href="{{ path('app_taches_edit', {'id': tach.id}) }}" class="btn btn-primary me-2">Edit</a>
			<form method="post" action="{{ path('app_taches_delete', {'id': tach.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline;">

				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tach.id) }}">

				<button type="submit" class="btn btn-danger">Delete</button>
			</form>
		{% endif %}
	</div>
{% endblock %}
